.contacts__email {
  display: flex;
  align-items: center;
  color: #111;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.contacts__email:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1280px) {
  .contacts__email {
    font-size: 18px;
  }
}

@media screen and (max-width: 680px) {
  .contacts__email {
    justify-content: center;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
