.header__info {
  margin-bottom: 130px;
  max-width: 643px;
}

@media screen and (max-width: 600px) {
  .header__info {
    margin-bottom: 35px;
  }
}

@media screen and (max-height: 600px) {
  .header__info {
    margin-bottom: 0;
    margin-top: 20px;
  }
}
