.about-us__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin: 0 12px;
}

@media screen and (max-width: 1440px) {
  .about-us__title {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .about-us__title {
    font-size: 20px;
  }
}
