.contacts__phone {
  display: flex;
  align-items: center;
  color: #111;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.contacts__phone:hover {
  opacity: 0.6;
}

@media screen and (max-width: 1280px) {
  .contacts__phone {
    justify-content: right;
    padding-top: 13px;
    font-size: 18px;
  }

  .contacts__phone:first-child {
    padding-top: 0;
  }
}

@media screen and (max-width: 680px) {
  .contacts__phone {
    justify-content: center;
    padding-top: 0;
    font-size: 16px;
    margin-bottom: 10px;
  }
}
