.contacts__container {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .contacts__container {
    flex-direction: column;
    align-items: center;
  }
}
