.popup__email {
  display: flex;
  align-items: center;
  color: #F1F4F5;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.5s ease-in-out;
}

.popup__email:hover {
  opacity: 0.6;
}
