.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgba(32, 32, 32, 0.514);
  background-clip: padding-box;
  border-radius: 20px;
  outline: 0;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
