.expertises__title {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  margin: 0 12px;
}

@media screen and (max-width: 1440px) {
  .expertises__title {
    font-size: 29px;
  }
}

@media screen and (max-width: 600px) {
  .expertises__title {
    font-size: 20px;
    text-align: center
  }
}
