.contacts__block {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (max-width: 1440px) {
  .contacts__block {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .contacts__block {
    margin-bottom: 17px;
  }
}
