.expertises__container {
  display: flex;
  padding: 30px 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  border-radius: 20px;
  background: rgba(164, 199, 122, 0.6);
  max-width: 560px;
}
