.about-us {
  margin: 50px auto;
  max-width: calc(100% - 100px * 2);
}

@media screen and (max-width: 1440px) {
  .about-us {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: calc(100% - 60px * 2);
  }
}

@media screen and (max-width: 600px) {
  .about-us {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: calc(100% - 13px * 2);
  }
}
