.header {
  background-image: url(../../images/header_image.png);
  background-position: center;
  height: 940px;
  flex-direction: column;
  padding: 70px 100px;
}

@media screen and (max-width: 1440px) {
  .header {
    height: 780px;
    padding: 60px 60px;
  }
}

@media screen and (max-width: 600px) {
  .header {
    height: 740px;
    padding: 20px 13px;
    display: flex;
    align-items: center;
  }
}
