.expertises__column {
  column-count: 3;
  gap: 20px;
}

@media screen and (max-width: 1280px) {
  .expertises__column {
    column-count: 2;
  }
}

@media screen and (max-width: 900px) {
  .expertises__column {
    column-count: 1;
  }
}
